body{
	font-family: 'PT Sans', sans-serif; 
	/*font-family: 'Playfair Display', serif;*/
	font-size: 16px;
	/*color:#fff;*/
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Playfair Display', serif;
	position: relative;
}
h2{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 36px;
}
h3{
	text-transform: uppercase;
	font-size: 24px;
	padding-top: 60px;
	margin-bottom: 80px;
}
h2:after{
	content: "";
	height: 1px;
	width: 120px;
	background: #fff;
	position: absolute;
	bottom: -40px;
	left:calc(50% - 60px);

}
.contact_wrap{
	background: #000;
	color: #969696;
}
.contacts{
	background: #000;
	padding-top: 14px;
	padding-bottom: 14px;
}
.tel{
	position: relative;
	color:#969696;
	text-decoration: none;
	font-size: 12px;
	margin-right: 14px;
	padding-left: 30px;
	transition: all .5s ease;
}
.tel:hover{
	color:#fff;
}
.tel:before{
	content: "";
	position: absolute;
	left: 0;
	top:0;
	width: 14px;
	height: 14px;
	background: url(../img/tel.png);
}
.day{
	position: relative;
	color:#969696;
	font-size:12px;
	margin-left: 14px;
	margin-right: 14px;
	margin-bottom: 0;
}
.day:before{
	content: "";
	position: absolute;
	left:-14px;
	top:calc(50% - 5px);
	width: 1px;
	height: 10px;
	background: #969696;
}
.day:after{
	content: "";
	position: absolute;
	right:-14px;
	top:calc(50% - 5px);
	width: 1px;
	height: 10px;
	background: #969696;
}
.time{
	color:#969696;
	font-size:12px;
	margin-left: 14px;
	margin-bottom: 0;
}
.login{
	position: relative;
}
.login>a{
	text-decoration: none;
	font-size: 12px;
	color:#969696;
	transition: all .5s ease;
}
.login>a:hover{
	color:#fff;
}
.entry{
	position: relative;
	padding-left: 15px;
}
.entry:before{
	content: "";
	position: absolute;
	top: 0;
	left: -7px;
	width: 15px;
	height: 15px;
	background: url(../img/dor.png)no-repeat center;
}
.registration{
	margin-left: 12px;
	position: relative;
}
.registration:before{
	content:"";
	position: absolute;
	left: -6px;
	top:calc(50% - 5px);
	width: 1px;
	height: 10px;
	background: #969696;
	transform: skewX(-25deg);
}
.menu{
	background: #0F0F0F;
	padding-bottom: 0;
    padding-top: 0;
    height: 80px;
}
.navbar-nav>.active{
	background: #1F1F1F;
}
.nav-item{
	margin-left: 40px;
}
.nav-item>.nav-link{
	color: #969696;
	transition: all .5s ease;
	padding-top:29px;
}
.nav-item:first-child{
	margin-left: 0;
}
.basket_button{
	width: 22px;
	height: 22px;
	background: url(../img/basket.png)no-repeat center;
}
.search_button{
	width: 20px;
	height: 20px;
	background: url(../img/search.png)no-repeat center;
}
.petersburg{
	position:relative;
	text-transform: uppercase;
}
.porten_description_wrap{
	background: url(../img/headerBG.png)no-repeat center top /cover;
}
.porten_description_cube_wrap{
	margin-bottom: 154px;
}
.porten_description_cube{
	/*padding: 93px 68px*/;
	padding-top: 93px;
	padding-left: 68px;
	border:4px solid #fff;
	color: #fff;
	margin-top: 160px;
	margin-left: auto;
	margin-bottom: 80px;
	margin-right: auto;
	width: 320px;
	height: 320px;
}
.porten_description_img{
	width: 180px;
	margin-bottom: 20px;
}
.petersburg{
	font-size: 22px;
}
.petersburg:before{
	content:"";
	position:absolute;
	top:-4px;
	left:calc(50% - 120px);
	height: 1px;
	width: 180px;
	background: #fff;
}
.porten_description_wrap_text{
	width: 730px;
	/*height: 96px;*/
	color:#fff;
	text-align: center;
	text-transform: uppercase;
}
.season{
	background: #000;
	flex:1.2;
}
.catologist{
	background: url(../img/new_collection.png)no-repeat center top /cover;
	flex: 1;

}
.catologist h2{
	padding-top: 484px;
}
.catologist_btn{
	color:#fff;
	text-transform: uppercase;
	margin-top: 60px;
	padding: 12px 28px;
	border:1px solid #fff;
	border-radius: 0px;
	margin-bottom: 100px;
	transition: all .5s ease;
}
.catologist_btn:hover{
	color:#000;
	background: #fff;
}
.empty_wrap{
	flex: 1;
	background: url(../img/collection2018.png)no-repeat center top /cover;
	/*height: 600px;*/
}
.collection{
	background: #000;
	flex: 1.2;
}
.collection_heading{
	margin-top: 100px;
	margin-bottom: 80px;
}
.collection_description{
	width: 473px;
	margin: 0 auto;
}
.collection_btn{
	color:#fff;
	text-transform: uppercase;
	margin-top: 61px;
	padding: 12px 28px;
	border:1px solid #fff;
	border-radius: 0px;
	margin-bottom: 100px;
	transition: all .7s ease;
}
.collection_btn:hover{
	color:#000;
	background: #fff;
}
.income{
	background: #000;
	padding-top: 120px;
	padding-bottom: 150px;
}
.income_heading{
	margin-bottom: 120px;
}
.income_link{
	text-decoration: none;
}
.income_link:hover{
	text-decoration: none;
}
.product_img_wrap{
	padding:55px 23px;
	background: #222527;
	margin-bottom: 25px;
}
.product_description{
	font-family: 'Playfair Display', serif;
	margin-bottom: 40px;
}
.price{
	margin-top: 10px;
	font-weight: bold;
}
.brand{
	background: #0F0F0F;
	padding-bottom: 80px;
}
.brand_heading{
	padding-top: 60px;
	margin-bottom: 80px;
}
.about{
	/*padding-top: 80px;*/
	padding-bottom: 100px;
	background: url(../img/footerBG.png)no-repeat center top /cover;

}
.score p{
	font-size: 14px;
	margin-top: 40px;
}
.categories a{
	font-size: 14px;
	padding: 10px 20px;
	color: #fff;
	background: #0F0F0F;
	margin-left: 10px;
	margin-top: 10px;

}
.mailing p{
	font-size: 14px;
}